In [1]:
import numpy as np
import pandas as pd

In [4]:
pd.read_csv('chess.csv', header=None, delimiter=';')

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.0,0.285714,0.142857,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.142857,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.142857,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.142857,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28051,0.0,0.857143,0.571429,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,11.0
28052,0.0,0.857143,0.714286,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,11.0
28053,0.0,0.857143,0.857143,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,11.0
28054,0.0,0.857143,0.571429,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,11.0
28055,0.0,0.857143,0.571429,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,11.0

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
data = np.genfromtxt('chess.csv', delimiter=';')

In [11]:
X = data[:, :6]
y = data[:, 6:]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [13]:
X_train.shape

(18797, 6)

In [15]:
y_train.shape

(18797, 18)

In [19]:
data_train = np.concatenate([X_train, y_train], axis=1)
data_test = np.concatenate([X_test, y_test], axis=1)

In [20]:
np.savetxt('train.csv', data_train, delimiter=',')
np.savetxt('test.csv', data_test, delimiter=',')